body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	margin: 0;
	padding: 0;
	/* transition: background-color 0.3s, color 0.3s; */
	transition: background-color 0.5s ease, color 0.5s ease;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #0fecaa74;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #64ff8d;
	outline: none;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
	outline: none;
}
